@import url("https://fonts.googleapis.com/css?family=Cookie&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap");

body,
html {
  margin: 0;
  height: 727px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

.split {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.background1 {
  background-image: url("./assets/04-BG.png");
  width: 80%;
  height: 857px;
  background-size: cover;
  transform: perspective(2100px);
  transform-origin: left bottom;
  margin-right: -59px;
  margin-left: -280px;
  transform: skewX(-5deg);
  border-right: 11px solid rgb(32, 60, 64);
  z-index: 1;
}

.background2 {
  width: 50%;
  height: 900px;
  background-image: url("./assets/05-IMAGE.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: -43px;
  transform-origin: right top;
  border-left: 10px solid rgb(32, 60, 64);
  margin-left: 50px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.navbar {
  background: rgb(172, 208, 182);
  height: 80px;
}

.log-img {
  display: block;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.form {
  position: relative;
  margin-left: 500px;
  width: 500px;
  margin-top: 100px;
  transform: skewX(5deg);
}

input {
  border-radius: 0.2rem;
  margin-bottom: 15px;
  width: 475px;
  text-align: start;
  padding: 10px;
  transform: skewX(-3deg);
  transform: skewX(0deg);
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  margin-bottom: 26px;
}

.input {
  margin-bottom: 26px;
  padding-bottom: 150px;
  transform-origin: bottom right;
}

label {
  font-family: "Cookie", cursive;
  font-size: 71px;
  color: rgb(227, 237, 203);
  text-align: center;
  display: block;
}

.label-resp {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  color: white;
}

i {
  position: absolute;
  margin-top: -70px;
  margin-left: 477px;
}

.icon-mesage {
  position: absolute;
  margin-top: -209px;
  margin-left: 476px;
}

.box {
  width: 200px;
  margin-left: 520px;
  margin-top: -70px;
  background: rgb(216, 90, 75);
  padding: 10px;
  text-align: center;
  font-weight: 100;
  font-size: 16px;
  color: #fff;
  font-family: "Open Sans";
  position: absolute;
}

.sb2:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 11px solid rgb(216, 90, 75);
  border-top: 10px solid rgb(216, 90, 75);
  border-bottom: 10px solid transparent;
  left: -19px;
  top: 0px;
}

.box-mesage {
  width: 245px;
  margin-left: 520px;
  margin-top: -208px;
  background: rgb(216, 90, 75);
  padding: 10px;
  text-align: center;
  font-weight: 100;
  font-size: 16px;
  color: #fff;
  font-family: "Open Sans";
  position: absolute;
}

button {
  width: 502px;
  height: 50px;
  margin-left: 525px;
  background-color: rgb(113, 163, 151);
  border-radius: 10px;
  border: none;
  box-shadow: 0px 7px rgb(74, 137, 120);
  font-family: "Open Sans";
  font-size: 22px;
  font-weight: bold;
  color: white;
  transform: skewX(5deg);
}

button:hover {
  cursor: pointer !important;
}
